<footer class="text-center text-lg-start">
  <div class="container p-4">

    <div class="d-flex justify-content-center py-2">
      <img src="../../../../assets/helfermitherz.png" height="100" alt="">
    </div>

    <div class="row">

      <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Our Links</h5>
        <ul class="list-unstyled mb-0">
          <li><a href="#!" class="text-dark">Home</a></li>
          <li><a href="#!" class="text-dark">Services</a></li>
          <li><a href="#!" class="text-dark">Why Us</a></li>
          <li><a href="#!" class="text-dark">Contact Us</a></li>
        </ul>
      </div>

      <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Social Media</h5>
        <ul class="list-unstyled mb-0">
          <li><a href="#!" class="text-dark">Facebook</a></li>
          <li><a href="#!" class="text-dark">Instagram</a></li>
          <li><a href="#!" class="text-dark">LinkedIn</a></li>
        </ul>
      </div>

      <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Legal</h5>
        <ul class="list-unstyled mb-0">
          <li><a routerLink="/terms-of-service" class="text-dark">Terms & Conditions</a></li>
          <li><a routerLink="/privacy-policy" class="text-dark">Privacy Policy</a></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Copyright -->
  <div class="footer text-center p-3 text-white">
    &copy; {{currentYear}} HelferMitHerz. All rights reserved.
  </div>
</footer>