@keyframes fadeInUp {
  from { opacity: 0; transform: translateY(30px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fade-up { animation: fadeInUp 0.8s forwards; }
@keyframes zoom-in-out {
  0% {
    transform: scale(0.8); /* Start at normal size */
  }
  50% {
    transform: scale(0.9); /* Zoom in to 110% at the midpoint */
  }
  100% {
    transform: scale(0.8); /* Return to normal size at the end */
  }
}

.animated-image {
  animation: 5s ease-in-out infinite zoom-in-out;
}
.rounded-custom {
  border-radius: 80px 20px 80px 20px;
}

.glass-card {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

.icon-circle {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.small {
  font-size: 1.4rem;
}