/* Base link style */
.nav-link {
    /* font-weight: 500; */
    color: #555 !important;
    transition: all 0.3s ease;
    position: relative;
    padding-bottom: 5px;
}

/* Hover state */
.nav-link:hover {
    color: #4f408a !important;
    /* Bootstrap Primary Blue */
    cursor: pointer;
    border-top: 2px solid #4f408a;
}

/* Active Link Style (The magic happens here) */
.nav-link.active {
    color: #4f408a !important;
    font-weight: 700;
    border-top: 2px solid #4f408a;
}

/* Optional: Add an underline indicator for the active link */
.nav-link.active::after {
    content: "";
    position: absolute;
    width: 70%;
    height: 3px;
    background-color: #4f408a;
    bottom: 0;
    left: 15%;
    border-radius: 2px;
}
@media (max-width: 992px) {
    .nav-link.active::after {
        width: 70px !important;
        left: 0% !important;
    }

    .nav-link.active {
        border-top: 0 !important
    }
}