<nav class="navbar navbar-expand-lg navbar-light shadow-sm">
  <div class="container">
    <a class="navbar-brand fw-bold py-0" routerLink="/">
      <img src="../../../../assets/helfermitherz.png" alt="Logo" height="80" class="d-inline-block align-text-top">
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" 
            aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0"> <li class="nav-item mx-3">
          <a class="nav-link px-2" routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        
        <li class="nav-item mx-3">
          <a class="nav-link px-2" routerLink="/services" routerLinkActive="active">Services</a>
        </li>
        <li class="nav-item mx-3">
          <a class="nav-link px-2" routerLink="/why-us" routerLinkActive="active">Why Us</a>
        </li>
        <li class="nav-item mx-3">
          <a class="nav-link px-2" routerLink="/contact-us" routerLinkActive="active">Contact Us</a>
        </li>
      </ul>
      
      <div class="d-none d-lg-flex" style="width: 150px;"></div> 
    </div>
  </div>
</nav>