/* You can add global styles to this file, and also import other style files */
.bg-primary, .btn-primary {
    background:  linear-gradient(to right,   #0b3f7a, #2396d7, #c71933,  #ee3f58) !important;
    border-color: transparent !important;
}

   
.gradient-text-animated {
  background: linear-gradient(45deg, #0b3f7a, #68419c, #ee3f58);
  /* background: linear-gradient(45deg, #4f408a, #96359b, #be09c7); */
  background-size: 200% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s linear infinite;
}

@keyframes shine {
  to { background-position: 200% center; }
}

.btn .bg-primary {
border: 0 !important;
}

.btn-primary:hover {
  transform: scale(1.05);
  box-shadow: 0 15px 35px rgba(228, 0, 70, 0.5);
}

.animate-fade-up {
  animation: fadeUp 0.8s ease-out;
}

@keyframes fadeUp {
  from { opacity: 0; transform: translateY(40px); }
  to { opacity: 1; transform: translateY(0); }
}

.form-floating > textarea:focus ~ label::after {
    background: none !important;
}

.service-banner {
  position: relative;
  height: 400px;
  background-size: cover;
}
.service1{
  background-image: url('assets/banners/1.jpg');
}

.service2{
  background-image: url('assets/banners/2.jpg');
}
.service3{
  background-image: url('assets/banners/3.jpg');
}
.service4{
  background-image: url('assets/banners/6.jpg');
}
.whyus-banner {
  background-image: url('assets/banners/7.jpg');
}
.dark-overlay {
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 21%);
}
.service-banner-content {
  position: absolute;
    top: 120px;
    right: 50px;
}
.section-title {
  font-size: 2.5rem;
  font-weight: 700;
  color: #4A3B89;
  margin-bottom: 1rem;
}