/* You can add global styles to this file, and also import other style files */
.bg-primary, .btn-primary {
    background:  linear-gradient(to right,   #0b3f7a, #2396d7, #c71933,  #ee3f58) !important;
    border-color: transparent !important;
}

   
.gradient-text-animated {
  background: linear-gradient(45deg, #0b3f7a, #68419c, #ee3f58);
  /* background: linear-gradient(45deg, #4f408a, #96359b, #be09c7); */
  background-size: 200% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s linear infinite;
}

@keyframes shine {
  to { background-position: 200% center; }
}

.btn .bg-primary {
border: 0 !important;
}

.btn-primary:hover {
  transform: scale(1.05);
  box-shadow: 0 15px 35px rgba(228, 0, 70, 0.5);
}

.animate-fade-up {
  animation: fadeUp 0.8s ease-out;
}

@keyframes fadeUp {
  from { opacity: 0; transform: translateY(40px); }
  to { opacity: 1; transform: translateY(0); }
}

.form-floating > textarea:focus ~ label::after {
    background: none !important;
}