.fi {
    font-size: 35px;
}

.whatsapp-button {
    z-index: 1 !important;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25d366 !important;
    border-radius: 100px;
    color: white;
}